<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<title>Insert title here</title>
</head>
<body>
<h2>아임포트 정기결제 테스트</h2>
고객번호 : <input type="number" id="customer_id"> <br>
이메일 : <input type="text" id="customer_email"> <br>
전화번호 : <input type="text" id="customer_phone"><br>
이름 : <input type="text" id="customer_name"><br>
상품번호 : <input type="text" id="package_id" ><br>
가격 : <input type="text" id="package_price"><br>
<button onclick="kakaopay()">결제하기</button>
</body>
<script>
	function kakaopay(){
		var IMP = window.IMP; // 생략가능
		var merchantid = new Date().getTime();

		IMP.init('imp41751598'); 
		IMP.request_pay({
			pay_method : 'card', // 결제창 호출단계에서의 pay_method는 아무런 역할을 하지 못하며, 구매자가 카카오페이 앱 내에서 신용카드 vs 카카오머니 중 실제 선택한 값으로 추후 정정됩니다.
			merchant_uid : merchantid,
			name : 'snack24',
			amount : 0, 
			customer_uid : $('#customer_id').val(), //customer_uid 파라메터가 있어야 빌링키 발급이 정상적으로 이뤄집니다.
			buyer_email : $('#customer_email').val(),
			buyer_name : $('#customer_name').val(),
			buyer_tel : $('#customer_phone').val()
		}, function(rsp) {
			if ( rsp.success ) {
				alert($('#customer_id').val());
				alert('빌링키 발급 성공 : ' +$('#customer_id').val());

				$.ajax({
					url:'/payment',
					type : 'POST',
					data:{
						"customer_uid" : $('#customer_id').val(),
						"price" : $('#package_price').val(), 
						"merchant_uid" : merchantid,
						"packageId" : $('#package_id').val(),
						
					},
					success:function(result) {
					

					}
				});
	
			} else {
				alert('정기결제 등록이 취소되었습니다');
				}
			});
	}	
	</script>
</html>